@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-black: #1C1917;
  --color-gray: #44403C;
  --color-orange: #F97316;
  --color-tan: #FDBA74;
  --color-beige: #FFEDD5;
}

body {
  margin: 0px;
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global */

.text-color-custom-beje{
  color: var(--color-beige);
}

.font-parisienne{
  font-family: Parisienne, cursive;
}

/* Navbar */

nav{
  display: flex;
  align-items: center;
  padding: 20px 80px;
  background-color: var(--color-tan);
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
}

li{
  list-style: none;
}

.link-hover-anim{
  transition: 0.5s;
}

.link-hover-anim:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

#nav-links-mobile{
  top: 80%; 
  right: 50%;
  transform: translate(50%,-50%);
}

@media screen and (max-width: 767px) {
  
}