@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --color-black: #1C1917;
  --color-gray: #44403C;
  --color-orange: #F97316;
  --color-tan: #FDBA74;
  --color-beige: #FFEDD5;
}

body {
  margin: 0px;
  background-color: var(--color-beige);
  font-family: Roboto, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global */

.text-color-custom-beige{
  color: var(--color-beige);
}

.font-parisienne{
  font-family: Parisienne, cursive;
}

.font-size-40{
  font-size: 40px;
}

/* Navbar */

nav>section:first-child{
  background-color: var(--color-tan);
  box-shadow: 0 5px 15px rgba(0, 0, 0,0.06);
  height: 75px;
}

li{
  list-style: none;
}

.link-hover-anim{
  transition: 0.5s;
}

.link-hover-anim:hover{
  transform: scale(1.2);
  transition: 0.5s;
}

#nav-links-mobile{
  top: 80%; 
  right: 50%;
  transform: translate(50%,-50%);
}

/* Footer */

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 767px) {
  footer{
    height: 100px;
  }
}

/* About */

#about-gallery-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-image-area-a{
  background-image: url(https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  max-height: 370px;
  aspect-ratio: 1.92;
}

.gallery-image-area-b{
  background-image: url(https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: auto;
  max-height: 588px;
  aspect-ratio: 0.57;
}

.gallery-image-area-c{
  background-image: url(https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg);
  background-size: 100% 100%;
  width: 50%;
  height: auto;
  max-height: 588px;
  aspect-ratio: 0.57;
}

.gallery-image-area-d{
  background-image: url(https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: auto;
  max-height: 370px;
  aspect-ratio: 1.92;
}

@media screen and (min-width: 767px) {
  #about-gallery-grid{
    max-width: 1080px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 370px 588px 370px;
    grid-template-areas: 
                  "a a"
                  "b c"
                  "d d";
  }
  .gallery-image-area-a{
    grid-area: a;
    width: 100%;
    height: auto;
    max-height: auto;
  }
  
  .gallery-image-area-b{
    grid-area: b;
    width: 100%;
    height: auto;
    max-height: auto;
  }
  
  .gallery-image-area-c{
    grid-area: c;
    width: 100%;
    height: auto;
    max-height: auto;
  }
  
  .gallery-image-area-d{
    grid-area: d;
    width: 100%;
    height: auto;
    max-height: auto;
  }
}

.divider{
	position: relative;
	height: 1px;
}

.div-transparent:before{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-dot:after{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: var(--color-tan);
	border: 1px solid rgb(48,49,51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					    0 0 0 4px white;
}

#about-gallery-grid>div{
  transition: 1s;
}

#about-gallery-grid>div:hover{
  transform:scale(1.2);
  transition: 1s;
}

.background-half{
  background-color: rgba(128, 128, 128, 0.5)
}

/* cart */

.cart-item-row{
  grid-template-columns: 96px auto 120px 40px;
}

#cart-item-list>li:last-child .cart-item-divider{
  display: none;
}